<table class="front" summary="For signed-in users">
	<tr>
		<td class="main">
			<h1 class="newsform">Do you have news to report?</h1>
			<%= render 'shared/news_form' %>
			<%= render 'shared/news_feed' %>
		</td>

		<td class="sidebar round">
			<%= render 'shared/user_info' %>
			<%= render 'shared/stats' %>
		</td>
	</tr>
</table>